.card {
  background-color: #ffffff;
  border: 1px solid transparent;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  position: relative; 
}

.card:hover {
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.cartIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0; 
  transform: translateX(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.cartIcon img {
  width: 20px;
  height: 20px;
}

.card:hover .cartIcon {
  opacity: 1;
  transform: translateX(0);
}

.cardImageContainer {
  width: 100%;
  height: 220px;
  margin-bottom: 16px;
  overflow: hidden;
}

.cardActualImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.cardInfo {
  flex-grow: 1; 
  text-align: center; 
}

.cardBrand {
  font-size: 13px;
  font-weight: 600;
  color: #606060;
  margin: 0;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000c3;
  margin: 4px 0;
  margin-bottom: 8px;
}

.cardType {
  font-size: 12px;
  color: #777;
  margin: 4px 0;
  margin-bottom: 6px;
}

.cardVolume{
  font-size: 14px;
  color: #777;
  margin: 4px 0;
  margin-bottom: 20px;
}

.cardPrice {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000c3;
  margin: 12px 0;
}
