.footer {
  background-color: #f9f9f9; 
  margin-top: 60px;
}

.footerContainer {
  padding: 40px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.footerTop {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 30px;
}

.branding h4 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: #000000;
}

.branding p {
  margin: 0;
  font-size: 0.9rem;
  color: #888;
  line-height: 1.5;
  max-width: 370px; 
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo img {
  height: 70px; 
}

.socialIcons {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 16px; 
}

.socialIcons a {
  display: block;
}

.socialIcons img {
  height: 27px; 
  width: 27px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.socialIcons img:hover{
  opacity: 1;
  transform: scale(1.2);

}

.footerBottom {
  border-top: 1px solid #ddd;
  margin-top: 30px; 
  padding-top: 30px; 
  text-align: center; 
}

.footerBottom p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}