.filterSection {
    padding: 24px 40px;
    background-color: #ffffff;
    font-weight: 500;
    position: relative;
}

.filterSection::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    height: 1px;
    background-color: #e0e0e0; 
    left: 40px;
    right: 40px;
}

.filterBar {
    display: flex; 
    align-items: center; 
    gap:25px; 
}

.filterBar select {
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #110455;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 20px;
    color: #393939;
    cursor: pointer;
    font-weight: 500;
}
