.listSection {
  padding: 60px 40px; 
  background-color: #fdfdfd; 
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.viewMoreButton {
  display: block; 
  margin-top: 40px; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: #110455; 
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 12px 28px;
  font-size: 16px; 
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 15px 3px rgba(153, 192, 233, 0.49);
}

.viewMoreButton:hover {
  background-color: #10005f;
}

.butonhp{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}