.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.moreImageContainer {
  margin: 40px auto; 
  max-width: 1200px; 
  border-radius: 8px; 
  overflow: hidden; 
    box-shadow: 0 4px 15px rgba(15, 0, 102, 0.064);

}

.moreImage {
  width: 100%; 
  height: auto; 
  display: block; 
}

.newsletterText {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  max-width: 1200px; 
  margin: 0 auto; 
  box-shadow: 0 4px 15px rgba(15, 0, 102, 0.127);
}

.newsletterText h2 {
  font-size: 20px;
  margin-top: 0;
  color: #333;
}

.newsletterText p {
  font-size: 16px;
  color: #555;
  margin-bottom: 0;
}
