.detailPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
  max-width: 1500px;
  margin: 0 auto;
}

.imageContainer {
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain; 
  max-height: 400px; 
  display: block;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  color: #000000eb;
  margin-top: 20px; 
}

.description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-top: 5px; 
  margin-bottom: 20px;
}

.detailsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 24px; 
}

.detailsRow p {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}

.detailsRow p strong {
  color: #222;
  margin-right: 8px;
  font-weight: 500;
}

.selectorContainer {
  margin-top: 5px; 
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-top: 60px; 
  color: #000000eb;
}

.buttonGroup {
  display: flex;
  gap: 15px;
  margin-top: auto; 
}

.goBackButton {
  background-color: #fff; 
  border: 1px solid #ccc; 
  color: #333; 
}

.goBackButton:hover {
  background-color: #94949436;
}

.selectWrapper {
  display: flex;
  align-items: center; 
  gap: 12px;         
}

.selectorContainer {
  margin-top: 20px; 
}


.selectorContainer :global(.selectWrapper) {
  gap: 16px; 
}

.selectorContainer :global(.selectLabel) {
  font-size: 1.1rem; 
  font-weight: 600;
  color: #333;
}

.selectorContainer :global(.selectElement) {
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  background-color: #293ace;
  border: 1px solid #ccc;
  border-radius: 8px;

  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.6-3.6%205.4-7.9%205.4-12.9%200-4.9-1.8-9.2-5.4-12.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px;
  
  padding-right: 36px;
}